#jinja2: lstrip_blocks: True
{{ ansible_managed | comment }}

{% macro uci_block(uci_options) %}
  {% for key, value in uci_options.items() if value != omit %}
    {% if value is sequence and value is not string %}
      {% for item in value %}
	list {{ key }} '{{ item }}'
      {% endfor %}
    {% else %}
	option {{ key }} '{% if value is boolean %}{{ value | ternary('1', '0') }}{% else %}{{ value }}{% endif %}'
    {% endif %}
  {% endfor %}
{% endmacro %}
config unbound 'ub_main'
{{ uci_block(unbound_uci_config_main_default | combine(unbound_uci_config_main)) }}
{% for name, options in unbound_uci_config_zones.items() %}
config zone '{{ name }}'
{{ uci_block({'enabled': true} | combine(options)) }}
{% endfor %}
